@import url(https://fonts.googleapis.com/css?family=Lobster);
html {
  font-size: 1em;
}

body {color: #BBB; background-color: #444; text-align: center;}

fieldset {
  border: #999 solid .2em; border-radius: .5em; display: inline-block; text-align: left; position: relative; transition: border-color .25s linear;}
fieldset:hover { border: #BBB solid .2em;}

legend { font-size: 1.8em;
  font-family: "Lobster", sans-serif; padding-left: .3em; padding-right: .2em; color: #ACE; text-shadow: -.125em .05em 0 #214893, -.25em .1em 0 #313131;
}

/* Slider *
 * ====== */
/* ## Slider main element */
input[type='range'].fred0 {
  display: block; margin: 0; padding: 0; font-size: inherit; width: 10.10em; height: 1.8em; border-radius: .1em; border: 0.1em solid gray; background-color: #242424;
  background-size: 100% 100%; background-repeat: no-repeat; overflow: hidden; cursor: pointer; transition: box-shadow .2s linear;  box-shadow: 0 0 0 0 transparent;
}
input[type='range'].fred0:focus {  box-shadow: 0 0 0 .1em  #AAAAAA;}
input[type='range'].fred0:hover {  box-shadow: 0 0 0 .15em #6FC5F0;}

/* ## Orientation tweak, with [orient] attribute in degrees */
/* > I know it's not standard, but that's the cleaner way I was thinking of. */
input[type='range'].fred0[orient] {
  /* > Would be cool heh :-) : */
  transform: rotate(attr(orient));
}

input[type='range'].fred0[orient='90deg'] { transform: rotate(90deg);}
input[type='range'].fred0[orient='180deg'] { transform: rotate(180deg);}
input[type='range'].fred0[orient='270deg'] { transform: rotate(270deg);}

/* ### all vertical ranges : */
input[type='range'].fred0[orient='90deg'], input[type='range'].fred0[orient='270deg'] {  margin: 4.5em -4.5em;  display: inline-block;}
input[type='range'].fred0[orient='90deg']::-webkit-slider-thumb, input[type='range'].fred0[orient='270deg']::-webkit-slider-thumb { cursor: ns-resize;}
input[type='range'].fred0[orient='90deg']::-moz-range-thumb, input[type='range'].fred0[orient='270deg']::-moz-range-thumb { cursor: ns-resize;}
input[type='range'].fred0[orient='90deg']::-ms-thumb, input[type='range'].fred0[orient='270deg']::-ms-thumb {  cursor: ns-resize;}

/* ## Slider components */
/* ### Slider::-track */
input[type='range'].fred0::-webkit-slider-runnable-track {  border: none;  background: none;  height: 100%;  width: 100%;}
input[type='range'].fred0::-moz-range-track {  border: none;  background: none;  height: 100%;  width: 100%;}
input[type='range'].fred0::-ms-track {  border: none;  background: none;  height: 100%;  width: 100%;}

/* ### Slider::-thumb */
input[type='range'].fred0::-webkit-slider-thumb {
  margin: 1m; padding: 0; height: 1.7em; width: .9em; border-radius: .1em; box-sizing: border-box; border: none;  background-color: #6FC5F0;
  box-shadow: -10em 0 0 0 #313131, -9em 0 0 0 #313131, -8em 0 0 0 #2F343F, -7em 0 0 0 #283F6B, -6em 0 0 0 #214893, -5em 0 0 0 #1A52BC, -4em 0 0 0 #2769D3, -3em 0 0 0 #3E87DC, -2em 0 0 0 #55A5E6, -1em 0 0 0 #6FC5F0, 1em 0 0 0 #181818, 2em 0 0 0 #181818, 3em 0 0 0 #181818, 4em 0 0 0 #181818, 5em 0 0 0 #181818, 6em 0 0 0 #181818, 7em 0 0 0 #181818, 8em 0 0 0 #181818, 9em 0 0 0 #181818;
  cursor: ew-resize;
}
input[type='range'].fred0::-moz-range-thumb {
  margin: 1em; padding: 0; height: 1.7em; width: .9em; border-radius: .1em; box-sizing: border-box; border: none; background-color: #6FC5F0;
  box-shadow: -10em 0 0 0 #313131, -9em 0 0 0 #313131, -8em 0 0 0 #2F343F, -7em 0 0 0 #283F6B, -6em 0 0 0 #214893, -5em 0 0 0 #1A52BC, -4em 0 0 0 #2769D3, -3em 0 0 0 #3E87DC, -2em 0 0 0 #55A5E6, -1em 0 0 0 #6FC5F0, 1em 0 0 0 #181818, 2em 0 0 0 #181818, 3em 0 0 0 #181818, 4em 0 0 0 #181818, 5em 0 0 0 #181818, 6em 0 0 0 #181818, 7em 0 0 0 #181818, 8em 0 0 0 #181818, 9em 0 0 0 #181818;
  cursor: ew-resize;
}
input[type='range'].fred0::-ms-thumb {
  margin: 1em; padding: 0; height: 1.7em; width: .9em; border-radius: .1em; box-sizing: border-box; border: none;  background-color: #6FC5F0;
  box-shadow: -10em 0 0 0 #313131, -9em 0 0 0 #313131, -8em 0 0 0 #2F343F, -7em 0 0 0 #283F6B, -6em 0 0 0 #214893, -5em 0 0 0 #1A52BC, -4em 0 0 0 #2769D3, -3em 0 0 0 #3E87DC, -2em 0 0 0 #55A5E6, -1em 0 0 0 #6FC5F0, 1em 0 0 0 #181818, 2em 0 0 0 #181818, 3em 0 0 0 #181818, 4em 0 0 0 #181818, 5em 0 0 0 #181818, 6em 0 0 0 #181818, 7em 0 0 0 #181818, 8em 0 0 0 #181818, 9em 0 0 0 #181818;
  cursor: ew-resize;
}
/* ## Browser tweaks */
/* ### webkit */
input[type='range'].fred0, input[type='range'].fred0::-webkit-slider-runnable-track, input[type='range'].fred0::-webkit-slider-thumb {
  -webkit-appearance: none;
}
/* ### IE */
input[type='range'].fred0::-ms-track { color: transparent;}
input[type='range'].fred0::-ms-fill-lower, input[type='range'].fred0::-ms-fill-upper, input[type='range'].fred0::-ms-tooltip {  display: none;}

 
		
/* ## Slider sub element  http://swatelier.info/at/forms/range.asp */
input[type='range'].fred2 { -moz-appearance:none;}
input[type=range].fred2::-moz-range-track {	-moz-appearance:none; background-color: #0000ff; height:10px;}
input[type=range].fred2::-moz-range-thumb {
                         -moz-appearance:none; border:solid black 1px; background:white; border-radius:2px; width:10px; height:15px;} 
						 
//input[type='range'].fred3 { -webkit-appearance:none; width:100%; height:25px; outline:none; opacity:0.7; -webkit-transition:.2s; transition:opacity .2s; }
//input[type='range'].fred3:hover { opacity: 1;}
//input[type='range'].fred3::-webkit-slider-thumb { -webkit-appearance:none; appearance:none; width:10px; height:4px; background:#4CAF50;  }
//input[type='range'].fred3::-moz-range-thumb { width:10px; height:4px; background:#4CAF50;  }
		

input[type=range].fred4{ -webkit-appearance: none;}		
input[type=range].fred4 { width:80px; height:14px;  background: #ccc;}
input[type=range].fred4::-moz-range-track {
	width:100px;height:0px;	background: #ddd;border: none;border-radius: 3px;}	/*border: 2px solid red;box-shadow: 5px 5px 5px red;*/
	
input[type=range].rangeV::-webkit-slider-runnable-track {
	 width:2px;height:0px; background: #ddd;border: none;	border-radius: 3px;	box-shadow: 0px 0px 0px red;} /*//border: 2px solid red;*/
input[type=range].fred4::-moz-range-thumb {	border: none;height:17px;width:7px;border-radius:5%; background:goldenrod;}
input[type=range].rangeV::-webkit-slider-thumb {
    slider-vertical; height:1px; width:2px; border-radius:5%; background:goldenrod; margin-left: -9px;} 
input[type=range].rangeV {width: 20px; height: 100px; margin: 0; padding: 0; -webkit-appearance: slider-vertical; color: #00c;
                         
	                                         }
 					 
					 
input[type="range"].fred5 {   margin: auto;
    -webkit-appearance: none; position: relative;overflow: hidden; height: 40px; width: 200px; cursor: pointer; border-radius: 0; /* iOS */}
input[type="range"].fred5::-webkit-slider-runnable-track { background: #ddd;}
/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
input[type="range"].fred5::-webkit-slider-thumb {
    -webkit-appearance: none;  width: 20px; /* 1 */
    height: 40px; background: #fff;  box-shadow: -100vw 0 0 100vw dodgerblue; border: 2px solid #999; /* 1 */}
input[type="range"].fred5::-moz-range-track { height: 40px; background: #ddd;}
input[type="range"].fred5::-moz-range-thumb {  background: #fff;
	height: 40px; width: 20px; border: 3px solid #999; border-radius: 0 !important; box-shadow: -100vw 0 0 100vw dodgerblue;  box-sizing: border-box;}
input[type="range"].fred5::-ms-fill-lower { background: dodgerblue;}
input[type="range"].fred5::-ms-thumb { background: #fff;  border: 2px solid #999; height: 40px; width: 20px; box-sizing: border-box;}
input[type="range"].fred5::-ms-ticks-after { display: none; }
input[type="range"].fred5::-ms-ticks-before { display: none; }
input[type="range"].fred5::-ms-track {   background: #ddd; color: transparent; height: 40px; border: none;}
input[type="range"].fred5::-ms-tooltip { display: none;}


						 
						 
						 
/* Label *
 * ====== */
/* ## Label main element */
label[type='range'] {
  display: block; position: relative; margin: 0; padding: 0; font-size: inherit; line-height: .6em; width: 9.9em; height: 1em; border-radius: .25em;
  color: #242424; font-family: arial; border: .2em solid transparent; text-align: center;  border-bottom-color: #242424;
  background-image: linear-gradient(#242424 calc(50% - .1em), #242424 calc(50% + .1em));
  background-position: bottom center;  background-repeat: no-repeat; background-size: .2em .2em; color: #999;}
label[type='range']:first-letter { font-size: .6em;}
label[type='range']::before, label[type='range']::after { display: block; position: absolute; height: 1em; line-height: 1em; width: 1em;}
label[type='range']::before { content: attr(before); left: -.2em; text-align: left;}
label[type='range']::after { content: attr(after); top: 0; right: -.2em; text-align: right;}
label[type='range'][orient='90deg'], label[type='range'][orient='270deg'] {
  border-bottom-color: transparent;  display: inline-block;  width: 1em;  height: 10.1em; line-height: 10.1em; vertical-align: top;}
label[type='range'][orient='90deg'] { border-bottom-color: transparent; border-left-color: #242424; background-position: center left; text-align: center;}
label[type='range'][orient='90deg']::before { top: -.2em;  bottom: auto; left: .1em;}
label[type='range'][orient='90deg']::after { left: .1em; top: auto; bottom: -.2em; right: 0;  text-align: left;}
label[type='range'][orient='180deg'] { border-bottom-color: transparent; border-top-color: #242424; background-position: top center; line-height: 1.4em;}
label[type='range'][orient='180deg']::before {bottom: 0; left: auto; right: -.2em; text-align: right;}
label[type='range'][orient='180deg']::after { bottom: 0; left: -.2em; right: auto; text-align: left;}
label[type='range'][orient='270deg'] { border-bottom-color: transparent; border-right-color: #242424; background-position: center right; text-align: center;}
label[type='range'][orient='270deg']::before { bottom: -.2em; top: auto; right: .1em; left: auto; text-align: right;}
label[type='range'][orient='270deg']::after { right: .1em; bottom: auto; top: -.2em; left: auto; text-align: right;}






















